# Environment variables
.env

# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# Logs
*.log

# SQL dumps
*.sql

# Compiled files
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Static assets built with a tool like Webpack
static/dist/
